@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;500&family=Krona+One&family=Montserrat&display=swap');



*{
    margin: 0;
    padding: 0;

}

.main{

    display: flex;
    flex-direction: column;
    text-align: justify;
    font-family: 'Inter', sans-serif;
    background-color: bisque;    
    
    
}



.botoes{

    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    
    background-color: rgb(138, 138, 138);
    font-family: 'Inter', sans-serif;
    font-size: 130%;
    padding: 10px;
    text-decoration: none;    
    
}

.navegacao__links ul{

    
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap:20px;
    

}

.navegacao__links ul a{

    text-decoration: none;
    color: #000;

}

.decoracao__lista:hover{

    font-size: x-large;



}

.navegacao__links{


    gap: 18px;

}
.decoracao__lista{

    list-style: none;
    
}


.apresentacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 250px;

}


/* Nome + area*/
.nome__area{

    padding-top: 5%;
    padding-left: 15%;

}
.nome__area h1, h2{

margin-bottom: 15px;

}

/* Nome */
.nome{

    width: 100px;
    font-size: 450%;
    font-weight: 800;
   
}

/*Estudante Front-End*/
.area{

    
    font-size: 250%;
    
}

.contatos{

    font-family: 'Inter', sans-serif;
    
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding-left: 4%;
}

.contatos_decoracao{

    text-align: justify;
    font-size: large;

}


.imagens{

    display: flex;
    justify-content: end;
    align-items: end;

}

.foto_eu{

    border: 1px solid #ddd;
    border-radius: 500px;
    padding: 5px;
    width: 250px;
    background-image: repeating-linear-gradient(45deg, black, transparent 100px);
    
}

.imagem_sobremim{

    
    border-radius: 4px;
    padding: 5px;
    width: 500px;
    padding-bottom: 50px;
    padding-top: 50px;

}




/* sobre mim */
.sobre_mim_conteudo{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgb(245, 218, 182);
    padding: 0 150px;
}




.sobre_mim{

    
    
    text-align: left;
    justify-content: right;    
    font-family: 'Inter', sans-serif;
    font-size: x-large;
    
}

.decoracao_titulo{

    padding-bottom: 20px;
    font-size: xx-large;
    font-weight: 900;

}

.sobre_mim p {
    
    text-align: justify;
}

.educacao{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0px 200px

}


.educacao_conteudo_k{

    display: flex;
    flex-direction: row;
    text-align: initial;
    align-items: center;
    justify-content: center;
    gap: 150px

}

.nome__area a {
    text-decoration: none;
    
}

.educacao_conteudo1{

    
    width: 250px;
    font-size: large;
    border: 2px solid rgb(197, 197, 197);
    border-radius: 7px;
    background-color: rgb(197, 197, 197);
    padding: 30px;
}

.educacao_conteudo2{


    width: 250px;
    font-size: large;
    border: 2px solid rgb(197, 197, 197);
    border-radius: 7px;
    background-color: rgb(197, 197, 197);
    padding: 30px;
}

.educacao h3{

    font-size: xx-large;
    padding-bottom: 20px;


}

.experiencias{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    padding: 50px 200px


}

.experiencia_conteudo{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;


}

.experiencias h4{


    font-size: xx-large;
    padding-bottom: 20px;


}
.experiencia_conteudo1{

    width: 250px;
    font-size: large;
    border: 2px solid rgb(197, 197, 197);
    border-radius: 7px;
    background-color: rgb(197, 197, 197);
    padding: 30px;

}



.habilidade{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 200px
    
}

.habilidade h5 {

    font-size: xx-large;
    padding-bottom: 20px;



}

.habilidade_imagens{


    display: flex;
    flex-direction: row;
    gap: 20px;

}



.decoracao_imagens_h{

    display: flex;
    flex-direction: row;
    gap: 20px;


}

.interesses{

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 100px 200px;

}



.interesses h6{

    font-size: xx-large;


}    


.interreses_conteudo{

    
    font-size: large;
    text-align: center;
    
    border: 2px solid rgb(197, 197, 197);
    border-radius: 7px;
    background-color: rgb(197, 197, 197);
    padding: 30px;
    
}


/* rodape */
.rodape{

    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Inter', sans-serif;    
    background-color: gray;
}


.texto_rodape{

    font-weight: 400;
    font-size: 130%;
    margin-top: 2%;
    font-size: xx-large;

}

.texto_nome{


    font-size: x-large;
    
}
 
.links {

    text-decoration:none;

}

